@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
	:root {
		--title-gradient-left: 50%;
		--title-gradient-top: 50%;
		--title-gradient-size: 15%;

		--background-gradient-left: 50%;
		--background-gradient-top: 50%;

		--title-size: 8rem;
		--title-opacity: 1;
		--title-top: 50vh;
	}

	:root,
	* {
		@apply antialiased tracking-wide !font-semibold;
	}

	*::selection {
		@apply bg-neutral-200 text-neutral-800;
	}

	.title-text {
		transform-origin: left;
		transform: scale(var(--title-size)) translate(-50%, -50%);
		line-height: 1;
		opacity: var(--title-opacity);
		top: var(--title-top);
		-webkit-transform: scale(var(--title-size)) translate(-50%, -50%);
		-moz-transform: scale(var(--title-size)) translate(-50%, -50%);
		-ms-transform: scale(var(--title-size)) translate(-50%, -50%);
		-o-transform: scale(var(--title-size)) translate(-50%, -50%);
	}

	.title-gradient {
		background-image: radial-gradient(
			circle farthest-corner at var(--title-gradient-left)
				var(--title-gradient-top),
			var(--tw-gradient-from) var(--title-gradient-size),
			var(--tw-gradient-to)
		);
	}

	.background-gradient {
		background-image: radial-gradient(
			circle farthest-corner at var(--background-gradient-left)
				var(--background-gradient-top),
			var(--tw-gradient-from),
			var(--tw-gradient-to) 30%
		);
	}

	.title-glow {
		text-shadow: 0 5px 2px var(--tw-gradient-from);
	}

	.radial-gradient {
		background-image: radial-gradient(
			var(--tw-gradient-from),
			var(--tw-gradient-to)
		);
	}

	.slider::before {
		@apply absolute content-[""] h-0.5 bg-neutral-200 -bottom-0.5 scale-110;
	}

	.slide-in-left::before {
		animation-name: slide-in-left;
		animation-duration: 250ms;
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		animation-fill-mode: forwards;
	}

	@-webkit-keyframes slide-in-left {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes slide-in-left {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}

	.slide-out-right::before {
		animation-name: slide-out-right;
		animation-duration: 250ms;
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		animation-fill-mode: both;
		float: right;
	}

	@-webkit-keyframes slide-out-right {
		0% {
			width: 100%;
			margin-left: 0%;
		}
		100% {
			width: 0%;
			margin-left: 100%;
		}
	}
	@keyframes slide-out-right {
		0% {
			width: 100%;
			margin-left: 0%;
		}
		100% {
			width: 0%;
			margin-left: 100%;
		}
	}
}
