@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	:root {
		--title-gradient-left: 50%;
		--title-gradient-top: 50%;
		--title-gradient-size: 15%;

		--background-gradient-left: 50%;
		--background-gradient-top: 50%;

		--title-size: 8rem;
		--title-opacity: 1;
		--title-top: 50vh;
	}

	:root,
	* {
		@apply antialiased leading-relaxed overflow-x-hidden;
	}

	*::selection {
		@apply bg-neutral-200 text-neutral-800;
	}

	.title-text {
		@apply absolute left-[50vw] subpixel-antialiased text-9xl;

		transform-origin: left;
		transform: scale(var(--title-size)) translate(-50%, -50%);
		line-height: 1;
		opacity: var(--title-opacity);
		top: var(--title-top);
		-webkit-transform: scale(var(--title-size)) translate(-50%, -50%);
		-moz-transform: scale(var(--title-size)) translate(-50%, -50%);
		-ms-transform: scale(var(--title-size)) translate(-50%, -50%);
		-o-transform: scale(var(--title-size)) translate(-50%, -50%);
	}

	.title-gradient {
		background-image: radial-gradient(
			circle farthest-corner at var(--title-gradient-left) var(--title-gradient-top),
			var(--tw-gradient-from) var(--title-gradient-size),
			var(--tw-gradient-to)
		);
	}

	.background-gradient {
		background-image: radial-gradient(
				circle farthest-corner at var(--background-gradient-left)
					var(--background-gradient-top),
				var(--tw-gradient-from),
				var(--tw-gradient-to) 30%
			),
			url(/hero-zuerich.jpg);
	}

	.title-glow {
		text-shadow: 0 5px 2px var(--tw-gradient-from);
	}
}
